
.vscode/Bebidas.dat
.vscode/settings.json
.vscode/settings.json
.vscode/launch.json
arquivos/gastos.txt
arquivos/receita.txt
build/boleto.o
build/caixa.o
build/categoria.o
build/dados.o
build/inicializador.o
build/kapemgga.o
build/dados.o
arquivos/gastos.txt
.vscode/settings.json
